{% extends 'base.html' %}

{% block content %}
<div class="about-content">
  <h2>About LMS Pec-Jogja</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin fermentum lacinia mauris,
    nec sollicitudin urna fringilla eget. Quisque euismod urna eu arcu fringilla, a tincidunt nulla ultricies.
  </p>
  <p>
    Vestibulum nec tellus dui. In ut nisl facilisis, varius nisi vel, ultrices orci.
    Nullam nec odio id orci volutpat mattis id vitae mi.
  </p>
  <!-- Add more content here -->
</div>
{% endblock %}
