{% extends 'base.html' %}

{% block content %}
<div class="home-content">
  <h2>Welcome to LMS Pec-Jogja!</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac magna sed odio placerat euismod vel ac ante.
    Vivamus facilisis malesuada sem, ac tincidunt neque cursus vitae. Vestibulum ac rhoncus ligula.
  </p>
  <p>
    Fusce nec justo dui. Cras tempor nisl vel odio efficitur, eu fringilla odio feugiat.
    Pellentesque rhoncus tortor et finibus tincidunt. Nulla facilisi. Donec malesuada dictum ultrices.
  </p>
  <!-- Add more content here -->
</div>
{% endblock %}
